@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vítejte v Anime List aplikaci</h1>
    <p class="lead">Začněte prozkoumávat své oblíbené anime nebo přidejte nové!</p>
</div>
